#secret file
client_secrets_file.json
token_locations.json
spotify_tokens.json

#created at runtime
tempCodeRunnerFile.py
test_youtube.cpython-38.pyc
failed Automated Spotify Playlist.txt

#IDE 
env
.vscode
__pycache__

#Uneeded files for other users
auth.py
test.py
test_youtube.py

LICENSE

